html, body {
  height:100%;
  width:100%;
  font-family: sans-serif;
  padding: 0;
  margin: 0;
}

h1 {
  margin:0px;
}

a {
  text-decoration: none;
  color: inherit; /* blue colors for links too */
}

ul {
  margin-top:0px;
}

ul, li {
  list-style: none;
  padding:0;
}

fieldset {
  border-style: none;

}

.site-header{
  height:420px;
}

.site-main-content {
  max-width: 1240px;
  margin: 0 auto;
  padding: 10px;
}

header .home-header{
  text-align: center;
  color: white;
  vertical-align: middle;
  line-height: 520px;
  font-size: 42px;
  font-family: 'BentonSans';
}


.btn-primary {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

/* Players form */

.player-selection-list{
  list-style: none;
  margin: 0;
  padding: 0;
	overflow: auto;
}

.player-selection-list li{
  color: #AAAAAA;
  display: block;
  position: relative;
  float: left;
  width: 100%;
  height: 100px;
}

.player-selection-list li input[type=radio]{
  position: absolute;
  visibility: hidden;
}

.player-selection-list li label{
  display: block;
  position: relative;
  font-weight: 250;
  font-size: 1.15em;
  padding: 25px 25px 25px 80px;
  margin: 10px auto;
  height: 30px;
  z-index: 9;
  cursor: pointer;
  -webkit-transition: all 0.25s linear;
}

.player-selection-list li:hover label{
	color: #4CAF50;
}

.player-selection-list li .check{
  display: block;
  position: absolute;
  border: 5px solid #AAAAAA;
  border-radius: 100%;
  height: 25px;
  width: 25px;
  top: 30px;
  left: 20px;
  z-index: 5;
  transition: border .25s linear;
  -webkit-transition: border .25s linear;
}

.player-selection-list li:hover .check {
  border: 5px solid #4CAF50;
}

.player-selection-list li .check::before {
  display: block;
  position: absolute;
	content: '';
  border-radius: 100%;
  height: 15px;
  width: 15px;
  top: 5px;
	left: 5px;
  margin: auto;
	transition: background 0.25s linear;
	-webkit-transition: background 0.25s linear;
}

input[type=radio]:checked ~ .check {
  border: 5px solid #4CAF50;
}

input[type=radio]:checked ~ .check::before{
  background: #4CAF50;
}

input[type=radio]:checked ~ label{
  color: #4CAF50;
}