<!doctype html>
<title>{% block title %}{% endblock %} Lord of the Pins</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


<div class="site-header" style="background-image: url({{ url_for('static', filename='bowling.jpg') }}); background-size: cover;)">
    <header>
        <div class="home-header">
            <h1><a href="{{ url_for('core.index' )}}">Lord of the Pins</a></h1>
        </div>
        {% block header %}{% endblock %}
    </header>
</div>

<div class="content">
    {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
    {% endfor %}

    <div class="site-main-content">
        {% block content %}{% endblock %}
    </div>
</div>