{% extends 'base.html' %}

{% block content %}
    <h2>Start a game</h2>
    <p>Pick the number of players in your game, then click 'Let's play' to start.</p>
    <fieldset class="index-players-form">
        <ul class="player-selection-list">
            <li>
                <input type="radio" name="players" value="1" id="one-player" checked="checked">
                <label for="one-player">One</label>
                <div class="check"><div class="inside"></div></div>
            </li>

            <li>
                <input type="radio" name="players" value="2" id="two-player">
                <label for="two-player">Two</label>
                <div class="check"><div class="inside"></div></div>
            </li>

        </ul>
    </fieldset>
    <button name="_done" class="btn-primary" onclick=startGame()>Let's play!</button>

    <h2>Previous games</h2>

    {% if games %}
        <ul>
            {% for g in games %}
            <li>
                <a href="{{ url_for('core.historicGame', game_id=g.id )}}">{{g.date}}</a>
            </li>
            {% endfor %}
        </ul>

    {% else %}
        <p>No previous games have been played.</p>
    {% endif %}

    <script type="text/javascript">

    function startGame() {
        if (document.getElementById('one-player').checked) {
            var url = "{{ url_for('core.newGame', no_of_players=1 )}}";
        } else {
            var url = "{{ url_for('core.newGame', no_of_players=2 )}}";
        }

        $.ajax({
            type: "POST",
            url: url,
            success: function(data) {
                var game_url = "{{ url_for('core.currentGame', game_id=1 )}}".replace(1, (data.id).toString());
                window.location.replace(game_url);
            }
        });
    }

    </script>

{% endblock %}